version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build_and_test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/project/node_modules
          override-ci-command: npm install --legacy-peer-deps
      #- run: apt-get install -y sudo
      #- run: sudo npm install -g npm@latest
      # - run: npm run test
      # - run: npm start

  deploy:
    docker:
      - image: cimg/node:16.14.2
    environment:
      SERVER_NAME: registry.digitalocean.com
      REPO_NAME: sg-bigboxapp-cr1
      IMAGE_NAME: emporium:0.0.1
    working_directory: ~/app
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.11
          # docker_layer_caching: true
      - run:
          name: Build and push Docker image
          command: |
            echo "$DOCR_PASS" | docker login -u $DOCR_PASS --password-stdin $SERVER_NAME/$REPO_NAME
            docker build -t $IMAGE_NAME .
            docker tag $IMAGE_NAME $SERVER_NAME/$REPO_NAME/$IMAGE_NAME
            docker push $SERVER_NAME/$REPO_NAME/$IMAGE_NAME

workflows:
  on_commit:
    jobs:
      - build_and_test
      - deploy:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - DEV
                - QA
