version: 2.1

# orbs:
#   node: circleci/node@5.1.1

jobs:
  build_and_test:
    docker:
      - image: cimg/node:20.11.0-browsers
    environment:
      CHROME_BIN: /usr/bin/google-chrome karma start --single-run      
    steps:
      - checkout
      - run: yarn install
      - run: yarn test      
    working_directory: ~/app
  deploy:
    docker:
      - image: cimg/node:20.11.0
    environment:
      SERVER_NAME: registry.digitalocean.com
      REPO_NAME: sg-invifo-cr-1
      IMAGE_NAME: invifo-ui:0.1.0
    working_directory: ~/app
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.24
          # docker_layer_caching: true
      - run:
          name: Build and push Docker image
          command: |
            echo "$DOCR_PASS" | docker login -u $DOCR_PASS --password-stdin $SERVER_NAME/$REPO_NAME
            docker build -t $IMAGE_NAME .
            docker tag $IMAGE_NAME $SERVER_NAME/$REPO_NAME/$IMAGE_NAME
            docker push $SERVER_NAME/$REPO_NAME/$IMAGE_NAME
workflows:
  on_commit:
    jobs:
      - build_and_test
      - deploy:
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - DEV
                - QA
